* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 1100px;
	overflow-x: hidden;
	overflow-y: auto;
}


#site-navbar {
	position: sticky;
	top: 0px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100vw;
	height: 10vh;
	background-color: #DEE5E5;
	border-bottom : 2px solid #0B0033;
	z-index : 1000;
}

.logo-container {
	margin-left: 2%;
	flex-grow: 3;
}

.nav-links-container {
	flex-grow: 0.8;
	margin-right: 200px;
}

#nav-list {
	list-style-type: none;
	display: flex;
	justify-content: space-between;
}

.anti-link {
	text-decoration: none;
	color: #0B0033;
	font-size: 1.125em;
}

.account-container {
	flex-grow: 0.3;
}

.account-container button {
	width: 120px;
	height: 6vh;
	border-radius: 12px;
	outline : none;
	cursor : pointer;
	background-color: #DEE5E5;
}

.account-container button:hover {
	background-color: #17B890;
	border : none;
	transition: background-color 0.6s ease-out;

}
#container{
	width: 100vw;
	height: 70%;
	position: relative;
	top: 0;
	left: 0;
	right: 0;
background: linear-gradient(90deg, hsla(52, 43%, 55%, 1) 0%, hsla(51, 33%, 75%, 1) 100%);	display: flex;
	justify-content: center;
}
.divider {
	width: 80%;
	height: 4px;
	background-color: #000;
	color : #000;
	margin: 12px auto;
}
#form-container{
	width: 25%;
	height: 60%;
	border: 2px solid black;
	border-radius : 12px;
	background-color: #F5EE9E;
	text-align: center;
	position: relative;
	top: 145px;
}
#form-container input {
	margin : 8px;
}

input {
	height: 32px;
}

.form-headline{
	font-size: 2em;
	color : #0B0033;
}
.signInButton {
	width: 50%;
	height : 30px;
	margin: 10px auto;
	border : 1px solid #0B0033;
	border-radius: 15px;
	display: block;
	cursor : pointer;
}

.b {
	border : none;
	outline : none;
	border-radius : 12px;
	padding : 4px;
	text-align: center;
	font-size : 14px;
}
.save{
	margin-right: 15px;
}

.signInButton:hover {
	transition : all 1s;
	background-color: #17B890;
	color: #fff;
	width : 60%;
	font-size : 15px;
	border : none;
}
.signUp-redirect {
	font-size : 14px;
}

.signUp-redirect>a:hover {
	transition : all 0.6s;
	color : gray;
}
#footer-section {
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: relative;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100vw;
	height: 30%;
	background-color: #3A405A;
	color : #fff;
}

#newsletter {
	color : #F5EE9E;
	margin-bottom: 20px;
}

#footer-section-h1 {
	font-size : 48px !important;
}

#footer-section-h1>a, #footer-section-h2>a {
	text-decoration: none;
	color : #F5EE9E;
}

#footer-section input {
	height: 30px;
	text-align: center;
	border-radius: 14px;
	border : 2px solid #fff;
	font-size : 18px;
	outline : none;
	cursor : pointer;
}

.footer-subsection-2 {
	text-align: center;
}

.fa {
  padding: 15px;
  font-size: 20px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
}
.fa-facebook {
  background: #3B5998;
  color: white;
  border-radius: 50%;

}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
  border-radius: 50%;
}

/* LinkedIn */
.fa-linkedin {
  background: #0a66c2;
  color: white;
  border-radius: 50%;
}

/*Youtube*/
.fa-youtube {
  background: #FF0000;
  color: white;
  border-radius: 50%;
}

/*Instagram*/
.fa-instagram {
  background: #C13584;
  color: white;
  border-radius: 50%;
}

/*WhatsApp*/
.fa-whatsapp {
  background: #25D366;
  color: white;
  border-radius: 50%;
}

@media screen and (min-width : 425px) and (max-width: 768px){


}

@media screen and (min-width:375px) and (max-width:425px){

	
}

